{# templates/Produit/fiche.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    Produit : {{ produit.nom }}
{% endblock %}
{% block body %}
    <h1>Fiche : {{ produit.nom }}</h1>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        </thead>
        <tbody>
            <tr id="{{ produit.id }}">
                <td id="titre">{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <form method="get" action="{{ path('panier_add', {id: produit.id }) }}">
        <label for="quantite">Quantite</label>
        <input type="number" class="form-control-range" id="quantite" value=1>
        <input type="submit" class="btn btn-primary btn-sm" title="Ajouter">
    </form>
    </a>
{% endblock %}